body {
  margin: 0;
}

#top {
  background-color: #E5F3F2;
  padding: 20px 0px;
}

h1{
  color: #00A79D;
  font-size: 64px;
  margin: 25px;
  text-align: center;
}

.title2 {
  color: #6D6E71;
}

.idea-input{

}

.inputs{
  display: block;
  font-size: 20px;
  height: 40px;
  margin: 0px auto 15px auto;
  width: 40%;
}

.save {
  background-color: #00A79D;
  border: none;
  display: block;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  margin: 0px auto 20px auto;
  width: 40%;
}

.save:hover {
  background-color: #045E55;
}

.search{
  border: 1px solid grey;
  display: block;
  font-size: 20px;
  margin: 15px auto;
}

.idea-card{
  margin: 10px auto;
  padding: 10px 0px;
  width: 40%;
}

h4 {
  color: #6D6E71;
  display: inline-block;
  font-size: 24px;
  margin-top: 0px;
  width: 80%;
}

.card-button {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.vote-up {
  background-image: url("upvote.svg");
  cursor: pointer;
}

.vote-down {
  background-image: url("downvote.svg");
  cursor: pointer;
}

p {
  color: #939598;
}

.delete{
  background-image: url('delete.svg');
  float: right;
}
.delete:hover {
  background-image: url('delete-hover.svg');
  cursor: pointer;
  float: right;
}

.quality{
  display: inline-block;
  font-weight: bold;
  max-width: 150px;
}

span {
  font-weight: normal;
}

/* Hover states */
.vote-up:hover {
  background-image: url("upvote-hover.svg");
}

.vote-down:hover {
  background-image: url("downvote-hover.svg");
}

.delete:hover {
  background-image: url("delete-hover.svg");
}

@media (max-width: 1024px) {

  .inputs, .idea-card, .save {
    width: 60%;
  }
}

@media (max-width: 450px) {

  .idea-card {
    width: 90%
  }

  .inputs, .save {
    width: 80%;
  }

  .save {
    height: 50px;
  }

  #body {
    height: 80px;
    l
  }
}
